## Specify the Knowledge Base to use

In [2]:
! pip install ../../dist/*.whl --quiet

In [3]:
! pip show kmds

Name: kmds
Version: 0.2.5
Summary: This is a package that helps data scientists and data analysts to capture notes while they work through data science tasks. The captured tasks can then be searched and analyzed.
Home-page:
Author: Rajiv Sambasivan
Author-email: rajiv.sambasivan@r2-ds.com
License: Apache 2.0
Location: /Users/rajivsambasivan/opt/anaconda3/envs/kmds/lib/python3.11/site-packages
Requires: Flask, owlready2, pytest, PyYAML, rdflib
Required-by:

In [4]:
import kmds
from tagging.tag_types import DataRepresentationTags
from owlready2 import *
from kmds.utils.load_utils import *
from kmds.utils.path_utils import get_package_kb_path
KNOWLEDGE_BASE = "../../kmds/examples/example_ml_kb_exp_workflow.xml"
onto2 :Ontology = load_kb(KNOWLEDGE_BASE)

## Load the Exploratory Observations

In [5]:
load_exp_observations(onto2)

,obs_type,finding,finding_seq
0,Data Quality Observation,"Some Prices are not numbers, these correspond ...",4
1,Data Quality Observation,"Customer ID, Description and Stock Code have n...",2
2,Data Quality Observation,Some products are not valid products. For exam...,5
3,Relevance Observation,"For this task, the period considered is first ...",6
4,Data Quality Observation,"Quantity, Price and Customer ID attributes hav...",1
5,Data Quality Observation,Some Quantities are not numbers,3

## Load the Data Representation Observations

In [6]:
load_data_rep_observations(onto2)

,obs_type,finding,finding_seq
0,Data Transformation Observation,The daily sales data for the store inventory f...,1

## Load the Modelling Choice Observations

In [7]:
load_modelling_choice_observations(onto2)

,obs_type,finding,finding_seq
0,Modelling Choice Observation,contribution of products towards quaterly reve...,1

## Load the Model Selection Observations

In [8]:
load_model_selection_observations(onto2)

,obs_type,finding,finding_seq
0,Model Selection Statement,"For this iteration, PCA was the only modelling...",1