## Specify the Knowledge Base to use

In [6]:
import kmds
from tagging.tag_types import DataRepresentationTags
from owlready2 import *
from kmds.utils.load_utils import *
from kmds.utils.path_utils import get_package_kb_path
KNOWLEDGE_BASE = "../../kmds/examples/example_ml_kb_exp_workflow.xml"
onto2 :Ontology = load_kb(KNOWLEDGE_BASE)
import pandas as pd
pd.options.display.max_colwidth = 500

## Load the Exploratory Observations

In [7]:
load_exp_observations(onto2)

,obs_type,finding,finding_seq
0,Data Quality Observation,"Some Prices are not numbers, these correspond to transactions that are some kind of adjustment - like returns, or,denoting some kind of payment adjustment.",4
1,Data Quality Observation,"Customer ID, Description and Stock Code have null values",2
2,Data Quality Observation,"Some products are not valid products. For example, some of these products seem to be created by software testers",5
3,Relevance Observation,"For this task, the period considered is first quarter of 2010, other data are not relevant for this report",6
4,Data Quality Observation,"Quantity, Price and Customer ID attributes have mixed types",1
5,Data Quality Observation,Some Quantities are not numbers,3

## Load the Data Representation Observations

In [8]:
load_data_rep_observations(onto2)

,obs_type,finding,finding_seq
0,Data Transformation Observation,The daily sales data for the store inventory for Q1 was generated by computing salesfor each inventory item for each business day of Q1,1

## Load the Modelling Choice Observations

In [9]:
load_modelling_choice_observations(onto2)

,obs_type,finding,finding_seq
0,Modelling Choice Observation,"contribution of products towards quaterly revenue shows a power law like behavior andso to facilitate understanding of the products that go significantly towards the generated quaterlyrevenue, we drop the products that materially do not contribute towards the revenue and simply add dimensionality to the problem.",1

## Load the Model Selection Observations

In [10]:
load_model_selection_observations(onto2)

,obs_type,finding,finding_seq
0,Model Selection Statement,"For this iteration, PCA was the only modelling approach to explain the variance in dailyproduct sales. This is sufficient to illustrate how a model selection workflow is logged with KMDS.",1