## Specify the Knowledge Base to use

In [1]:
! pip install ../../dist/*.whl --quiet

In [2]:
import kmds
from tagging.tag_types import DataRepresentationTags
from owlready2 import *
from kmds.utils.load_utils import *
KNOWLEDGE_BASE = "example_ml_kb_exp_workflow.xml"

## Load the Exploratory Observations

In [3]:
load_exp_observations(KNOWLEDGE_BASE)

,obs_type,finding,finding_seq
0,Data Quality Observation,Some products are not valid products. For exam...,5
1,Data Quality Observation,"Customer ID, Description and Stock Code have n...",2
2,Data Quality Observation,Some Quantities are not numbers,3
3,Data Quality Observation,"Quantity, Price and Customer ID attributes hav...",1
4,Data Quality Observation,"Some Prices are not numbers, these correspond ...",4
5,Relevance Observation,"For this task, the period considered is first ...",6

## Load the Data Representation Observations

In [4]:
load_data_rep_observations(KNOWLEDGE_BASE)

,obs_type,finding,finding_seq
0,Data Transformation Observation,The daily sales data for the store inventory f...,1

## Load the Modelling Choice Observations

In [5]:
load_modelling_choice_observations(KNOWLEDGE_BASE)

,obs_type,finding,finding_seq
0,Modelling Choice Observation,contribution of products towards quaterly reve...,1

## Load the Model Selection Observations

In [6]:
load_model_selection_observations(KNOWLEDGE_BASE)

,obs_type,finding,finding_seq
0,Model Selection Statement,"For this iteration, PCA was the only modelling...",1