## Overview
In this notebook the modelling choice assumptions are logged. The basic recipe is as follows:
1. Read the data representation from the data representation phase
2. Compute the quaterly revenue for each product
3. Compute the quaterly revenue which is the sum of the product revenues
4. Compute the contribution of the product towards the revenue
5. Compute the cumulative distribution of each product - from most contribution to least contribution
6. Analyze the cumulative contribution distribution
7. Trim the products used for daily sales representation
8. Write the updated daily sales representation to be used for modelling
9. Log the modelling choice with the explaination that contribution of products towards quaterly revenue shows a power law like behavior and so to facilitate understanding of the products that go significantly towards the generated quaterly revenue, we drop the products that materially do not contribute towards the revenue and simply add dimensionality to the problem.

## Read the data

In [1]:
import pandas as pd
fp = "../../kmds/examples/retail_q1_post_data_rep_prep.parquet"
df = pd.read_parquet(fp)

In [2]:
df.head()

,10002,10120,10123C,10124A,10125,10133,10134,10135,10138,11001,...,90214L,90214M,90214N,90214O,90214P,90214R,90214S,90214V,PADS,POST
0,2.55,6.3,0.0,0.0,0.0,0.0,0.0,1.25,0.0,0.00,...,0.0,0.0,2.5,0.0,0.0,0.0,1.25,0.0,0.0,0.0
1,0.00,0.0,0.0,0.0,0.0,0.0,0.0,12.50,0.0,3.38,...,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.0,0.0,0.0
2,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.0,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.0,0.0,0.0
3,0.00,0.0,0.0,0.0,0.0,108.0,212.0,0.00,0.0,27.04,...,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.0,0.0,19.0
4,10.20,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.0,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.0,0.0,477.0

## Compute product contribution to quaterly revenue

In [3]:
df_prod_contrib = df.sum(axis=0).sort_values(ascending=False)

In [4]:
df_prod_contrib = df_prod_contrib.to_frame()

In [5]:
df_prod_contrib = df_prod_contrib.reset_index()

In [6]:
df_prod_contrib.columns = ["Stock_Code", "Revenue"]

## Compute total revenue

In [7]:
total_revenue = df_prod_contrib["Revenue"].sum()

## Compute Cumulative Contribution of each product revenue towards the quaterly revenue

In [8]:
df_prod_contrib["Contribution"] = (df_prod_contrib["Revenue"]/total_revenue) * 100

In [9]:
df_prod_contrib["Cum_Contrib"] = df_prod_contrib["Contribution"].cumsum()

## Analyze the Contribution

In [10]:
df_prod_contrib = df_prod_contrib[df_prod_contrib["Cum_Contrib"] <= 80]
df_prod_contrib = df_prod_contrib.reset_index(drop=True)
in_demand_inventory = df_prod_contrib["Stock_Code"]

## Write the updated data representation to disk

In [11]:
df = df[in_demand_inventory]

In [12]:
fp = "../../data/retail_q1_post_mc.parquet"
df.to_parquet(fp, index=False)

## Capturing and Tagging Meta Data in Data Representations
After creating the required data representation to our modelling requirement, the meta-data related to the data representation can be captured to facilitate understanding. The [woodwork library](https://woodwork.alteryx.com/en/v0.7.1/start.html)  can provide this feature. The generated meta-data can be reviewed and updated. Note how the semantic tags related to sale of items for the quarter is updated. The obtained meta-data can then be published to a tool like [ckan](https://ckan.org/) for wider dissemenation.

In [13]:
import woodwork as ww
df.ww.init(name="q1_2010_retail_data_rep")

In [14]:
inv_items = df.columns.to_list()

In [15]:
semantic_tags_new = {i: "sale of {item} in Q1 2010 at the store".format(item=i) for i in inv_items}

In [16]:
df.ww.set_types(semantic_tags=semantic_tags_new)

In [17]:
df.ww

,Physical Type,Logical Type,Semantic Tag(s)
Column,,,
85123A,float64,Double,"['numeric', 'sale of 85123A in Q1 2010 at the store']"
85099B,float64,Double,"['sale of 85099B in Q1 2010 at the store', 'numeric']"
48138,float64,Double,"['sale of 48138 in Q1 2010 at the store', 'numeric']"
20685,float64,Double,"['sale of 20685 in Q1 2010 at the store', 'numeric']"
21843,float64,Double,"['sale of 21843 in Q1 2010 at the store', 'numeric']"
84879,float64,Double,"['numeric', 'sale of 84879 in Q1 2010 at the store']"
79323W,float64,Double,"['numeric', 'sale of 79323W in Q1 2010 at the store']"
POST,float64,Double,"['sale of POST in Q1 2010 at the store', 'numeric']"
37503,float64,Double,"['numeric', 'sale of 37503 in Q1 2010 at the store']"
21524,float64,Double,"['numeric', 'sale of 21524 in Q1 2010 at the store']"
22423,float64,Double,"['sale of 22423 in Q1 2010 at the store', 'numeric']"
20914,float64,Double,"['numeric', 'sale of 20914 in Q1 2010 at the store']"
15056BL,float64,Double,"['numeric', 'sale of 15056BL in Q1 2010 at the store']"
21733,float64,Double,"['numeric', 'sale of 21733 in Q1 2010 at the store']"
21754,float64,Double,"['sale of 21754 in Q1 2010 at the store', 'numeric']"
20725,float64,Double,"['sale of 20725 in Q1 2010 at the store', 'numeric']"
79323P,float64,Double,"['numeric', 'sale of 79323P in Q1 2010 at the store']"
48194,float64,Double,"['numeric', 'sale of 48194 in Q1 2010 at the store']"
21232,float64,Double,"['sale of 21232 in Q1 2010 at the store', 'numeric']"
21181,float64,Double,"['numeric', 'sale of 21181 in Q1 2010 at the store']"
15056N,float64,Double,"['numeric', 'sale of 15056N in Q1 2010 at the store']"
85220,float64,Double,"['sale of 85220 in Q1 2010 at the store', 'numeric']"
20679,float64,Double,"['sale of 20679 in Q1 2010 at the store', 'numeric']"
47566,float64,Double,"['numeric', 'sale of 47566 in Q1 2010 at the store']"
22083,float64,Double,"['sale of 22083 in Q1 2010 at the store', 'numeric']"
22386,float64,Double,"['sale of 22386 in Q1 2010 at the store', 'numeric']"
21929,float64,Double,"['numeric', 'sale of 21929 in Q1 2010 at the store']"
21212,float64,Double,"['numeric', 'sale of 21212 in Q1 2010 at the store']"
85099F,float64,Double,"['numeric', 'sale of 85099F in Q1 2010 at the store']"
22189,float64,Double,"['numeric', 'sale of 22189 in Q1 2010 at the store']"
48111,float64,Double,"['numeric', 'sale of 48111 in Q1 2010 at the store']"
21731,float64,Double,"['numeric', 'sale of 21731 in Q1 2010 at the store']"
85099C,float64,Double,"['numeric', 'sale of 85099C in Q1 2010 at the store']"
21931,float64,Double,"['numeric', 'sale of 21931 in Q1 2010 at the store']"
21955,float64,Double,"['sale of 21955 in Q1 2010 at the store', 'numeric']"
21166,float64,Double,"['numeric', 'sale of 21166 in Q1 2010 at the store']"
21928,float64,Double,"['numeric', 'sale of 21928 in Q1 2010 at the store']"
22326,float64,Double,"['numeric', 'sale of 22326 in Q1 2010 at the store']"
48173C,float64,Double,"['sale of 48173C in Q1 2010 at the store', 'numeric']"
82486,float64,Double,"['numeric', 'sale of 82486 in Q1 2010 at the store']"
48188,float64,Double,"['numeric', 'sale of 48188 in Q1 2010 at the store']"
22138,float64,Double,"['numeric', 'sale of 22138 in Q1 2010 at the store']"
22411,float64,Double,"['numeric', 'sale of 22411 in Q1 2010 at the store']"
21755,float64,Double,"['sale of 21755 in Q1 2010 at the store', 'numeric']"
47590B,float64,Double,"['sale of 47590B in Q1 2010 at the store', 'numeric']"
21622,float64,Double,"['numeric', 'sale of 21622 in Q1 2010 at the store']"
22090,float64,Double,"['numeric', 'sale of 22090 in Q1 2010 at the store']"
21621,float64,Double,"['sale of 21621 in Q1 2010 at the store', 'numeric']"
84029E,float64,Double,"['sale of 84029E in Q1 2010 at the store', 'numeric']"
21523,float64,Double,"['numeric', 'sale of 21523 in Q1 2010 at the store']"
22061,float64,Double,"['numeric', 'sale of 22061 in Q1 2010 at the store']"
22379,float64,Double,"['numeric', 'sale of 22379 in Q1 2010 at the store']"
79323LP,float64,Double,"['numeric', 'sale of 79323LP in Q1 2010 at the store']"
21175,float64,Double,"['sale of 21175 in Q1 2010 at the store', 'numeric']"
85042,float64,Double,"['numeric', 'sale of 85042 in Q1 2010 at the store']"
84991,float64,Double,"['sale of 84991 in Q1 2010 at the store', 'numeric']"
48185,float64,Double,"['numeric', 'sale of 48185 in Q1 2010 at the store']"
82494L,float64,Double,"['sale of 82494L in Q1 2010 at the store', 'numeric']"
21217,float64,Double,"['numeric', 'sale of 21217 in Q1 2010 at the store']"
84997C,float64,Double,"['sale of 84997C in Q1 2010 at the store', 'numeric']"
84997B,float64,Double,"['sale of 84997B in Q1 2010 at the store', 'numeric']"
48187,float64,Double,"['sale of 48187 in Q1 2010 at the store', 'numeric']"
85232B,float64,Double,"['numeric', 'sale of 85232B in Q1 2010 at the store']"
22382,float64,Double,"['numeric', 'sale of 22382 in Q1 2010 at the store']"
21527,float64,Double,"['numeric', 'sale of 21527 in Q1 2010 at the store']"
85014B,float64,Double,"['numeric', 'sale of 85014B in Q1 2010 at the store']"
84078A,float64,Double,"['sale of 84078A in Q1 2010 at the store', 'numeric']"
21485,float64,Double,"['numeric', 'sale of 21485 in Q1 2010 at the store']"
21164,float64,Double,"['sale of 21164 in Q1 2010 at the store', 'numeric']"
22328,float64,Double,"['sale of 22328 in Q1 2010 at the store', 'numeric']"
47590A,float64,Double,"['sale of 47590A in Q1 2010 at the store', 'numeric']"
20728,float64,Double,"['sale of 20728 in Q1 2010 at the store', 'numeric']"
84050,float64,Double,"['sale of 84050 in Q1 2010 at the store', 'numeric']"
84467,float64,Double,"['sale of 84467 in Q1 2010 at the store', 'numeric']"
47502,float64,Double,"['numeric', 'sale of 47502 in Q1 2010 at the store']"
20712,float64,Double,"['sale of 20712 in Q1 2010 at the store', 'numeric']"
48184,float64,Double,"['sale of 48184 in Q1 2010 at the store', 'numeric']"
21314,float64,Double,"['numeric', 'sale of 21314 in Q1 2010 at the store']"
21908,float64,Double,"['numeric', 'sale of 21908 in Q1 2010 at the store']"
22084,float64,Double,"['numeric', 'sale of 22084 in Q1 2010 at the store']"
84836,float64,Double,"['numeric', 'sale of 84836 in Q1 2010 at the store']"
22236,float64,Double,"['numeric', 'sale of 22236 in Q1 2010 at the store']"
20713,float64,Double,"['numeric', 'sale of 20713 in Q1 2010 at the store']"
21137,float64,Double,"['numeric', 'sale of 21137 in Q1 2010 at the store']"
20726,float64,Double,"['sale of 20726 in Q1 2010 at the store', 'numeric']"
20727,float64,Double,"['numeric', 'sale of 20727 in Q1 2010 at the store']"
47566B,float64,Double,"['sale of 47566B in Q1 2010 at the store', 'numeric']"
20750,float64,Double,"['sale of 20750 in Q1 2010 at the store', 'numeric']"
85014A,float64,Double,"['numeric', 'sale of 85014A in Q1 2010 at the store']"
20971,float64,Double,"['sale of 20971 in Q1 2010 at the store', 'numeric']"
72741,float64,Double,"['numeric', 'sale of 72741 in Q1 2010 at the store']"
22383,float64,Double,"['sale of 22383 in Q1 2010 at the store', 'numeric']"
21977,float64,Double,"['sale of 21977 in Q1 2010 at the store', 'numeric']"
84997D,float64,Double,"['sale of 84997D in Q1 2010 at the store', 'numeric']"
22385,float64,Double,"['sale of 22385 in Q1 2010 at the store', 'numeric']"
21984,float64,Double,"['numeric', 'sale of 21984 in Q1 2010 at the store']"
21216,float64,Double,"['sale of 21216 in Q1 2010 at the store', 'numeric']"
21980,float64,Double,"['sale of 21980 in Q1 2010 at the store', 'numeric']"
22381,float64,Double,"['numeric', 'sale of 22381 in Q1 2010 at the store']"
71459,float64,Double,"['numeric', 'sale of 71459 in Q1 2010 at the store']"
22384,float64,Double,"['numeric', 'sale of 22384 in Q1 2010 at the store']"
21982,float64,Double,"['numeric', 'sale of 21982 in Q1 2010 at the store']"
21080,float64,Double,"['numeric', 'sale of 21080 in Q1 2010 at the store']"
85152,float64,Double,"['numeric', 'sale of 85152 in Q1 2010 at the store']"
37449,float64,Double,"['numeric', 'sale of 37449 in Q1 2010 at the store']"
22457,float64,Double,"['sale of 22457 in Q1 2010 at the store', 'numeric']"
84755,float64,Double,"['numeric', 'sale of 84755 in Q1 2010 at the store']"
84406B,float64,Double,"['numeric', 'sale of 84406B in Q1 2010 at the store']"
85066,float64,Double,"['numeric', 'sale of 85066 in Q1 2010 at the store']"
84992,float64,Double,"['sale of 84992 in Q1 2010 at the store', 'numeric']"
22297,float64,Double,"['numeric', 'sale of 22297 in Q1 2010 at the store']"
22147,float64,Double,"['sale of 22147 in Q1 2010 at the store', 'numeric']"
21535,float64,Double,"['sale of 21535 in Q1 2010 at the store', 'numeric']"
21844,float64,Double,"['sale of 21844 in Q1 2010 at the store', 'numeric']"
21174,float64,Double,"['numeric', 'sale of 21174 in Q1 2010 at the store']"
84970S,float64,Double,"['numeric', 'sale of 84970S in Q1 2010 at the store']"
21981,float64,Double,"['numeric', 'sale of 21981 in Q1 2010 at the store']"
21539,float64,Double,"['numeric', 'sale of 21539 in Q1 2010 at the store']"
21218,float64,Double,"['sale of 21218 in Q1 2010 at the store', 'numeric']"
82600,float64,Double,"['sale of 82600 in Q1 2010 at the store', 'numeric']"
22380,float64,Double,"['numeric', 'sale of 22380 in Q1 2010 at the store']"
20718,float64,Double,"['sale of 20718 in Q1 2010 at the store', 'numeric']"
22243,float64,Double,"['numeric', 'sale of 22243 in Q1 2010 at the store']"
21623,float64,Double,"['numeric', 'sale of 21623 in Q1 2010 at the store']"
21390,float64,Double,"['numeric', 'sale of 21390 in Q1 2010 at the store']"
84909A,float64,Double,"['numeric', 'sale of 84909A in Q1 2010 at the store']"
47591D,float64,Double,"['numeric', 'sale of 47591D in Q1 2010 at the store']"
21210,float64,Double,"['sale of 21210 in Q1 2010 at the store', 'numeric']"
22139,float64,Double,"['sale of 22139 in Q1 2010 at the store', 'numeric']"
21936,float64,Double,"['sale of 21936 in Q1 2010 at the store', 'numeric']"
37410,float64,Double,"['numeric', 'sale of 37410 in Q1 2010 at the store']"
21035,float64,Double,"['numeric', 'sale of 21035 in Q1 2010 at the store']"
22499,float64,Double,"['numeric', 'sale of 22499 in Q1 2010 at the store']"
22413,float64,Double,"['numeric', 'sale of 22413 in Q1 2010 at the store']"
84937,float64,Double,"['numeric', 'sale of 84937 in Q1 2010 at the store']"
48129,float64,Double,"['sale of 48129 in Q1 2010 at the store', 'numeric']"
22274,float64,Double,"['sale of 22274 in Q1 2010 at the store', 'numeric']"
20972,float64,Double,"['sale of 20972 in Q1 2010 at the store', 'numeric']"
84970L,float64,Double,"['sale of 84970L in Q1 2010 at the store', 'numeric']"
22197,float64,Double,"['numeric', 'sale of 22197 in Q1 2010 at the store']"
82583,float64,Double,"['numeric', 'sale of 82583 in Q1 2010 at the store']"
21533,float64,Double,"['numeric', 'sale of 21533 in Q1 2010 at the store']"
22366,float64,Double,"['sale of 22366 in Q1 2010 at the store', 'numeric']"
48116,float64,Double,"['numeric', 'sale of 48116 in Q1 2010 at the store']"
21121,float64,Double,"['numeric', 'sale of 21121 in Q1 2010 at the store']"
22353,float64,Double,"['numeric', 'sale of 22353 in Q1 2010 at the store']"
22149,float64,Double,"['numeric', 'sale of 22149 in Q1 2010 at the store']"
22111,float64,Double,"['numeric', 'sale of 22111 in Q1 2010 at the store']"
21749,float64,Double,"['sale of 21749 in Q1 2010 at the store', 'numeric']"
21156,float64,Double,"['sale of 21156 in Q1 2010 at the store', 'numeric']"
21781,float64,Double,"['numeric', 'sale of 21781 in Q1 2010 at the store']"
22114,float64,Double,"['numeric', 'sale of 22114 in Q1 2010 at the store']"
22294,float64,Double,"['sale of 22294 in Q1 2010 at the store', 'numeric']"
21559,float64,Double,"['sale of 21559 in Q1 2010 at the store', 'numeric']"
85067,float64,Double,"['numeric', 'sale of 85067 in Q1 2010 at the store']"
22367,float64,Double,"['numeric', 'sale of 22367 in Q1 2010 at the store']"
84946,float64,Double,"['numeric', 'sale of 84946 in Q1 2010 at the store']"
21213,float64,Double,"['numeric', 'sale of 21213 in Q1 2010 at the store']"
79341,float64,Double,"['sale of 79341 in Q1 2010 at the store', 'numeric']"
84378,float64,Double,"['numeric', 'sale of 84378 in Q1 2010 at the store']"
84978,float64,Double,"['numeric', 'sale of 84978 in Q1 2010 at the store']"
21975,float64,Double,"['sale of 21975 in Q1 2010 at the store', 'numeric']"
21165,float64,Double,"['numeric', 'sale of 21165 in Q1 2010 at the store']"
21930,float64,Double,"['numeric', 'sale of 21930 in Q1 2010 at the store']"
85206B,float64,Double,"['sale of 85206B in Q1 2010 at the store', 'numeric']"
72760B,float64,Double,"['sale of 72760B in Q1 2010 at the store', 'numeric']"
22178,float64,Double,"['sale of 22178 in Q1 2010 at the store', 'numeric']"
85014D,float64,Double,"['numeric', 'sale of 85014D in Q1 2010 at the store']"
21877,float64,Double,"['sale of 21877 in Q1 2010 at the store', 'numeric']"
21124,float64,Double,"['numeric', 'sale of 21124 in Q1 2010 at the store']"
22283,float64,Double,"['sale of 22283 in Q1 2010 at the store', 'numeric']"
20711,float64,Double,"['sale of 20711 in Q1 2010 at the store', 'numeric']"
22358,float64,Double,"['numeric', 'sale of 22358 in Q1 2010 at the store']"
21935,float64,Double,"['numeric', 'sale of 21935 in Q1 2010 at the store']"
22352,float64,Double,"['numeric', 'sale of 22352 in Q1 2010 at the store']"
21437,float64,Double,"['sale of 21437 in Q1 2010 at the store', 'numeric']"
22348,float64,Double,"['numeric', 'sale of 22348 in Q1 2010 at the store']"
20724,float64,Double,"['sale of 20724 in Q1 2010 at the store', 'numeric']"
21169,float64,Double,"['numeric', 'sale of 21169 in Q1 2010 at the store']"
22291,float64,Double,"['numeric', 'sale of 22291 in Q1 2010 at the store']"
21756,float64,Double,"['sale of 21756 in Q1 2010 at the store', 'numeric']"
47567B,float64,Double,"['sale of 47567B in Q1 2010 at the store', 'numeric']"
22188,float64,Double,"['numeric', 'sale of 22188 in Q1 2010 at the store']"
22282,float64,Double,"['numeric', 'sale of 22282 in Q1 2010 at the store']"
22241,float64,Double,"['numeric', 'sale of 22241 in Q1 2010 at the store']"
22146,float64,Double,"['numeric', 'sale of 22146 in Q1 2010 at the store']"
22193,float64,Double,"['sale of 22193 in Q1 2010 at the store', 'numeric']"
84469,float64,Double,"['numeric', 'sale of 84469 in Q1 2010 at the store']"
22131,float64,Double,"['numeric', 'sale of 22131 in Q1 2010 at the store']"
21122,float64,Double,"['sale of 21122 in Q1 2010 at the store', 'numeric']"
84375,float64,Double,"['numeric', 'sale of 84375 in Q1 2010 at the store']"
22498,float64,Double,"['sale of 22498 in Q1 2010 at the store', 'numeric']"
21871,float64,Double,"['numeric', 'sale of 21871 in Q1 2010 at the store']"
21041,float64,Double,"['sale of 21041 in Q1 2010 at the store', 'numeric']"
22112,float64,Double,"['sale of 22112 in Q1 2010 at the store', 'numeric']"
84792,float64,Double,"['sale of 84792 in Q1 2010 at the store', 'numeric']"
22275,float64,Double,"['numeric', 'sale of 22275 in Q1 2010 at the store']"
75049L,float64,Double,"['numeric', 'sale of 75049L in Q1 2010 at the store']"
22273,float64,Double,"['numeric', 'sale of 22273 in Q1 2010 at the store']"
21717,float64,Double,"['numeric', 'sale of 21717 in Q1 2010 at the store']"
21903,float64,Double,"['sale of 21903 in Q1 2010 at the store', 'numeric']"
22244,float64,Double,"['sale of 22244 in Q1 2010 at the store', 'numeric']"
22173,float64,Double,"['sale of 22173 in Q1 2010 at the store', 'numeric']"
21937,float64,Double,"['sale of 21937 in Q1 2010 at the store', 'numeric']"
20749,float64,Double,"['numeric', 'sale of 20749 in Q1 2010 at the store']"
22087,float64,Double,"['numeric', 'sale of 22087 in Q1 2010 at the store']"
21355,float64,Double,"['numeric', 'sale of 21355 in Q1 2010 at the store']"
22177,float64,Double,"['numeric', 'sale of 22177 in Q1 2010 at the store']"
85150,float64,Double,"['numeric', 'sale of 85150 in Q1 2010 at the store']"
22365,float64,Double,"['numeric', 'sale of 22365 in Q1 2010 at the store']"
82483,float64,Double,"['numeric', 'sale of 82483 in Q1 2010 at the store']"
79321,float64,Double,"['numeric', 'sale of 79321 in Q1 2010 at the store']"
20754,float64,Double,"['sale of 20754 in Q1 2010 at the store', 'numeric']"
21411,float64,Double,"['numeric', 'sale of 21411 in Q1 2010 at the store']"
22064,float64,Double,"['numeric', 'sale of 22064 in Q1 2010 at the store']"
22148,float64,Double,"['numeric', 'sale of 22148 in Q1 2010 at the store']"
22073,float64,Double,"['sale of 22073 in Q1 2010 at the store', 'numeric']"
35004C,float64,Double,"['sale of 35004C in Q1 2010 at the store', 'numeric']"
85206A,float64,Double,"['numeric', 'sale of 85206A in Q1 2010 at the store']"
47599A,float64,Double,"['sale of 47599A in Q1 2010 at the store', 'numeric']"
21260,float64,Double,"['numeric', 'sale of 21260 in Q1 2010 at the store']"
22329,float64,Double,"['numeric', 'sale of 22329 in Q1 2010 at the store']"
21258,float64,Double,"['sale of 21258 in Q1 2010 at the store', 'numeric']"
21477,float64,Double,"['numeric', 'sale of 21477 in Q1 2010 at the store']"
22456,float64,Double,"['numeric', 'sale of 22456 in Q1 2010 at the store']"
21728,float64,Double,"['numeric', 'sale of 21728 in Q1 2010 at the store']"
22417,float64,Double,"['numeric', 'sale of 22417 in Q1 2010 at the store']"
21715,float64,Double,"['numeric', 'sale of 21715 in Q1 2010 at the store']"
21136,float64,Double,"['sale of 21136 in Q1 2010 at the store', 'numeric']"
21091,float64,Double,"['numeric', 'sale of 21091 in Q1 2010 at the store']"
21791,float64,Double,"['numeric', 'sale of 21791 in Q1 2010 at the store']"
22356,float64,Double,"['numeric', 'sale of 22356 in Q1 2010 at the store']"
21085,float64,Double,"['sale of 21085 in Q1 2010 at the store', 'numeric']"
21672,float64,Double,"['sale of 21672 in Q1 2010 at the store', 'numeric']"
85065,float64,Double,"['numeric', 'sale of 85065 in Q1 2010 at the store']"
84880,float64,Double,"['sale of 84880 in Q1 2010 at the store', 'numeric']"
22150,float64,Double,"['sale of 22150 in Q1 2010 at the store', 'numeric']"
22072,float64,Double,"['sale of 22072 in Q1 2010 at the store', 'numeric']"
21985,float64,Double,"['numeric', 'sale of 21985 in Q1 2010 at the store']"
22191,float64,Double,"['numeric', 'sale of 22191 in Q1 2010 at the store']"
22063,float64,Double,"['sale of 22063 in Q1 2010 at the store', 'numeric']"
21624,float64,Double,"['sale of 21624 in Q1 2010 at the store', 'numeric']"
21868,float64,Double,"['numeric', 'sale of 21868 in Q1 2010 at the store']"
21667,float64,Double,"['numeric', 'sale of 21667 in Q1 2010 at the store']"
20719,float64,Double,"['sale of 20719 in Q1 2010 at the store', 'numeric']"
21716,float64,Double,"['sale of 21716 in Q1 2010 at the store', 'numeric']"
82482,float64,Double,"['sale of 82482 in Q1 2010 at the store', 'numeric']"
21531,float64,Double,"['sale of 21531 in Q1 2010 at the store', 'numeric']"
79323GR,float64,Double,"['numeric', 'sale of 79323GR in Q1 2010 at the store']"
84077,float64,Double,"['sale of 84077 in Q1 2010 at the store', 'numeric']"
47505,float64,Double,"['numeric', 'sale of 47505 in Q1 2010 at the store']"
22327,float64,Double,"['numeric', 'sale of 22327 in Q1 2010 at the store']"
21042,float64,Double,"['sale of 21042 in Q1 2010 at the store', 'numeric']"
22180,float64,Double,"['sale of 22180 in Q1 2010 at the store', 'numeric']"
82552,float64,Double,"['sale of 82552 in Q1 2010 at the store', 'numeric']"
21592,float64,Double,"['sale of 21592 in Q1 2010 at the store', 'numeric']"
22242,float64,Double,"['sale of 22242 in Q1 2010 at the store', 'numeric']"
21745,float64,Double,"['sale of 21745 in Q1 2010 at the store', 'numeric']"
22301,float64,Double,"['numeric', 'sale of 22301 in Q1 2010 at the store']"
72351B,float64,Double,"['sale of 72351B in Q1 2010 at the store', 'numeric']"
22285,float64,Double,"['numeric', 'sale of 22285 in Q1 2010 at the store']"

In [18]:
fp = "../../data/retail_q1_post_mc_meta_data.csv"
df.ww.to_csv(fp, index=False)

In [19]:
from tagging.tag_types import *
from owlready2 import *
from utils.load_utils import *
from utils.path_utils import *
KNOWLEDGE_BASE = "../../kmds/examples/example_ml_kb_exp_workflow.xml"

In [20]:
onto2 = load_kb(KNOWLEDGE_BASE)

In [21]:
with onto2:
    insts = Workflow.instances()

In [22]:
the_workflow_instance = insts[0]

In [23]:
mc_obs_list = []
observation_count = 1

mc1 = ModellingChoiceObservation(namespace=onto2)
mc1.finding = "contribution of products towards quaterly revenue shows a power law like behavior and\
so to facilitate understanding of the products that go significantly towards the generated quaterly\
revenue, we drop the products that materially do not contribute towards the revenue and simply add dimensionality to the problem."
mc1.finding_sequence = observation_count
mc1.modelling_choice_observation_type = ModellingChoiceTags.MODELLING_CHOICE_OBSERVATION.value
mc_obs_list.append(mc1)
the_workflow_instance.has_modeling_choice_observations = mc_obs_list
onto2.save(file=KNOWLEDGE_BASE, format="rdfxml")