## Specify the Knowledge Base to use

In [1]:
import kmds
from tagging.tag_types import DataRepresentationTags
from owlready2 import *
from kmds.utils.load_utils import *
from kmds.utils.path_utils import get_package_kb_path
KNOWLEDGE_BASE = "../../kmds/examples/example_analytics_kb_app_workflow.xml"
onto2 :Ontology = load_kb(KNOWLEDGE_BASE)

## Load the Exploratory Observations

In [2]:
load_exp_observations(onto2)

,obs_type,finding,finding_seq
0,Data Quality Observation,This use case computes the time to resolve a t...,3
1,Relevance Observation,Only ticket activity in the second quarter of ...,2
2,Relevance Observation,"Only (number', 'sys_created_at', 'closed_at', ...",1
3,Data Quality Observation,There is inconsistency in the datetime format ...,4

## Load the Data Representation Observations

In [3]:
load_data_rep_observations(onto2)

,obs_type,finding,finding_seq
0,Feature Engineering Observation,The resolution time attribute is defined. It i...,1

## Load the Modelling Choice Observations

In [4]:
load_modelling_choice_observations(onto2)

Empty DataFrame
Columns: []
Index: []

## Load the Model Selection Observations

In [5]:
load_model_selection_observations(onto2)

,obs_type,finding,finding_seq
0,Model Selection Observation,There are no assumptions or choices that have ...,1
1,Model Selection Observation,Resolution time clusters into five groups. A l...,1
2,Model Selection Observation,About 80% of the tickets are resolved within 1...,1
3,Model Selection Observation,Many support groups (four from model 1 results...,1
4,Model Selection Observation,A small group of support groups account for mo...,1